#div1{
    background-color: yellow;
    height: 400px;
    width: 400px;
    padding: 20px;
    border: 5px dashed rgb(225, 16, 16);
    box-sizing: content-box;
}
.card{
    height: 400px;
    width: 400px;
    padding: 20px;
    border: 10px solid black;
    box-sizing: border-box;
}