.container {
    height: 40vh;
    width: 100vw;
    background-color: beige;
}

.box {
    height: 45px;
    width: 122px;
    background-color: aquamarine;
    margin: 4px;
}

@media(max-width: 768px) {
    .container {
        height: 40vh;
        width: 100vw;
        background-color: red;
    }
}