<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenFreeks - About</title>
</head>

<body>
    <h1>GenFreeks Gym</h1>
    Here, you can workout for as long as you want in the opened hours.
    You will get all basic machines(like Lats Pull Down, 2 Cable Machines, 4 Treadmills, etc.) and the gym is fully
    air-conditioned with multiple fans and lights. We also have a dedicated deadlift platform and a dumbell area where
    you can perform all exercises with dumbells and place them back at the stand.
    <br>
    <br>
    We also have 2 separate changing rooms and restrooms for both men and women and basic amenities like wrist strap,
    waist belt, weighing tool, etc.
    <br>
    <br>
    So come and have a fruitful workout at GenFreeks

    <h3>Most Welcome!!</h3>

</body>

</html>